.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.section {
    width: 100%;
    padding: 4rem 0;
  }
  
.section-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem;
}
  
.section-container-narrow {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

.section-container-wide {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1rem;
}

